   * {
      
        box-sizing:border-box;
    }
    html , body {
        width:100%;
        margin: 0px;    /*outside space*/
        padding: 0px;  /*inside space*/
        overflow-x: hidden;

    }
   .header
    {
        height: 80px;
        width: 100%;
        background-color:rgb(25, 51, 59);
        display: flex;
        align-items: center;
        justify-content:space-between;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        padding:15px 40px;
        font-family:Arial, Helvetica, sans-serif;
        font-size: x-large;
        margin-bottom: auto;
      
    }

    nav a
    {
        margin-top: 80px;
        margin-left:140px;
        text-decoration: none;
        color:aliceblue;
        font-weight: 500;
        font-size:medium;
    }

    @media (max-width: 768px) 
    {
    nav {
    flex-direction: column ;
    }
    }

    @media (max-width: 768px) {
    h1 { font-size: 24px; }
    h2 { font-size: 20px; }
    p  { font-size: 14px; }
    }

   
     * {
  box-sizing: border-box;
}

    img {
    max-width: 100%;
    height: auto ;
    }

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

    .middle
    {
        height: 700px;
        width: 100%;
        background-color:burlywood;
    }
    .about
    {
        width: 100%;
        height: 600px;
        overflow: hidden;
        position: cover;
    }



    .foodi
    {  height : 600px;
        text-align: left;
        width:100%;
        max-width: 100%;
        overflow : hidden;
        background:url(mymeal/fb.avif) ;
        background-repeat: no-repeat;
        background-position: center;
        background-image: cross-fade();
        background-size: cover;
        align-items: center;
        text-align: left;
        padding-left:60px;
        display: flex;
        justify-content: flex-start ;
     }
    .overlay-text
   {
    color : white ;
    max-width: 500px;

   }

    .options{
        display:flex;
        justify-content:center;
        gap:30px;
        max-width:1200px;
        padding:40px;
        height:500px;
        width: 100%;
        background-color: rgb(25, 51, 59);
        text-align: center;
        align-items: center;
        font-size:larger;
        font-family:Georgia, Times, 'Times New Roman', serif;

        
        
    }

    .dcard
    {
        margin-top: 40px;
        text-align: center;
        width:250px;
        height:250px;
        overflow:hidden;
        border-radius:16px; 
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        transition: transform 0.3s;
        display:grid;
        align-items: center;
        margin-left: 20px;
        margin-right: 100px;
        background: #fff;
    }
    .dcard-row 
    {
    display: flex;
    gap: 30px;
    }
    @media (max-width: 768px) 
    {
    .cards-row
    {
    flex-direction: column;
    align-items: center; 
    }
    }

    img 
    {
    max-width: 100%;
    height: auto;
    }


    .dcard img
    {
        width:100%;
        height: auto;
        display:block;

    }
    .dcard:hover
    {
        transform: scale(1.03);
    }



    

    .contact
    {
        height:400px;
        width: 100%;
        background-color:rosybrown;

    }
    .footer
    {
        height:400px;
        width: 100%;
        background-color:black;
    }
    .header ul
    {
        display: flex;
        justify-content: center;

    }
    ul li
    {
        margin-left: 100px;
        list-style: none;
        font-weight: bold;
        font-family:Arial, Helvetica, sans-serif;
        padding-top: 20px;
        color: aliceblue;
    }
    h3 h4
    {
        text-align: center;
        padding-top: 40px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }
    h3 h4:hover
    {
        color: brown;
        text-shadow:0px 12px 12px black; 

    }

    h2 
    {
        color : white ;
        text-align: left;

    
    }
